*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b1d13;
color:white;
line-height:1.6;
}
/* Navbar Styling */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 30px;
background:#123524;
position:sticky;
top:0;
z-index:1000;
}

.navbar h2{
font-size:22px;
font-weight:600;
}

.navbar span{
font-size:12px;
opacity:0.8;
}

.navbar a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:500;
}

.navbar a:hover{
color:#95d5b2;
}

/* Button Styling */
.btn{
background:#2d6a4f;
padding:8px 18px;
border-radius:20px;
text-decoration:none;
color:white;
font-weight:600;
}

.btn:hover{
background:#40916c;
}
/* Hero Section Premium */
.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(135deg,#1b4332,#2d6a4f);
}

.hero h1{
font-size:32px;
margin-bottom:15px;
font-weight:700;
}

.hero p{
font-size:16px;
opacity:0.9;
margin-bottom:25px;
}

.hero-btn{
display:inline-block;
background:#95d5b2;
color:#081c15;
padding:12px 28px;
border-radius:30px;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.hero-btn:hover{
background:white;
transform:scale(1.05);
}
